.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

.eachpost {
  height: 450px; }
  .eachpost .img {
    display: block;
    width: auto;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }

h1 {
  margin: 0; }
