@charset "utf-8";
@import "compass";
@import "extend.scss";

.eachpost{
    height: 450px;
    .img{
        display: block;
        width: auto;
        height: 200px;
        background: {
            repeat: no-repeat;
            position: center center;
            size: cover;
        }
    }
}

.toppage{
}

h1{
    margin: 0;
}