@charset "utf-8";
@import "compass";
//----------------------------------------------------------
//----------------------------------------------------------
//clearfix
$supportIE: true; // IE非対応の場合 false
.clearfix{
    @if $supportIE{
        *zoom: 1;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}
//clearfix END
//----------------------------------------------------------
//----------------------------------------------------------
//イメージパス
$imgPath: '../image/';
//イメージパス END
