@charset "utf-8";
@import "compass";
@import "extend.scss";
//----------------------------------------------------------
//----------------------------------------------------------
html, body, #wrapper{
    height: 100%;
}

html{
    overflow-y: scroll;
}

body > #wrapper{
    height: auto;
}

#wrapper{
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

#header{
    width: 100%;
    height: 200px;
}

#contents{
    width: 100%;
    min-height: 100%;
    padding: 0 0 300px;
    //position: relative;
}

.fixedmenu{
    @extend .clearfix;
    height: 50px;
    position: relative;
    z-index: 20;
    h1{
        display: block;
        float: left;
        width: 30%;
        height: 250px;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all 0.2s linear;
    }
    &.fixed{
        width: 100%;
        h1{
            height: 50px;
        }
    }
}

.fixed{
    position: fixed !important;
}

#main{
    width: 100%;
    min-height: 1000px;
    padding-top: 30px;
   /*background: #fff;
    position: relative;
    z-index: 10;*/
}

#footer{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0;
}

#hiddenWin{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 21;
    background: rgba(0,0,0,.6);
    color: #fff;
}

.showbtn1{
    display: block;
    float: right;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
//----------------------------------------------------------
//----------------------------------------------------------
//loader
#wrapper{
    display: none;
    _position: absolute; /* IE6対策 */
    //z-index: 30;
}
 
.loader{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    .logoarea{
        width: 20%;
        height: 0;
        padding-top: 20%;
        overflow: hidden;
        background: {
            //image: url(#{$imgPath}svg/boy_color.svg);
            repeat: no-repeat;
            position: center center;
            size: contain;
        }
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        @media screen and (max-width: 767px){
            width: 40%;
            padding-top: 40%;
        }
    }
}
//loader end
//----------------------------------------------------------
//----------------------------------------------------------		
